* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;

  }
  .container {
    max-width: 1440px;
    margin: 0 auto;

    padding: 20px;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .nav-item{   border: 1px solid red;
    padding: 5px 20px;}
.avatar{
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .skills{ margin-left: 250px;}
   .main{background-color: aquamarine;}
   .header{background-color: aqua;}
   .footer{background-color: aqua;
    display: flex;
    justify-content: space-between;}
   .logo{
height: 50px;}